<div class="main-container">
    <div class="container text-center card auth-container">
        <div class="row">
            <div class="col left-side">
                <div class="mb-3">
                    <h1>Jobs - Angular</h1>
                </div>
                <div class="mb-3">
                    <p>Your Jobs Platform</p>
                </div>
            </div>
            <div class="col right-side text-start">
               <div class="header">
                    <div>
                        <h1>{{ labels[type].title }}</h1>
                        <div [hidden]="!formError" class="error-label">
                            {{ formError?.error }}
                        </div>
                    </div>
                    <a href="#" (click)="switchType()">{{ labels[type].linkTo }}</a>
               </div>

                <form [formGroup]="authForm" >
                    <div class="mb-3" [hidden]="type == 'login'">
                        <label for="name" class="form-label">Your name</label>
                        <input formControlName="name" type="text" class="form-control" id="name"
                            placeholder="Ash Ketchum">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input formControlName="email" type="email" class="form-control" id="email"
                            placeholder="name@example.com">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input formControlName="password" type="password" class="form-control" id="password" placeholder="******">
                    </div>
                    <div class="mb-3 d-grid gap-2">
                        <button (click)="submitForm()" type="button" class="btn btn-primary">{{ labels[type].button }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>