<div class="main-container">
    <div class="container text-center card auth-container">
        <div class="row">
            <div class="col left-side">
                <div class="mb-3">
                    <h1>Jobs - Angular</h1>
                </div>
                <div class="mb-3">
                    <p>Your Jobs Platform</p>
                </div>
            </div>
            <div class="col right-side text-start">
               <div class="header">
                    <h1>{{ labels[type].title }}</h1>
                    <a href="#" (click)="switchType()">{{ labels[type].linkTo }}</a>
               </div>

                <form>
                    <div class="mb-3" [hidden]="type == 'login'">
                        <label for="exampleFormControlInput0" class="form-label">Your name</label>
                        <input type="email" class="form-control" id="exampleFormControlInput0"
                            placeholder="Ash Ketchum">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1"
                            placeholder="name@example.com">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="exampleFormControlInput2" placeholder="******">
                    </div>
                    <div class="mb-3 d-grid gap-2">
                        <button type="button" class="btn btn-primary">{{ labels[type].button }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>