@import "./../../app.component.scss";

.header {
    position: absolute;
    background-color: $color-dark-green;
    width: 100%;
    padding: 7% 0px;
    color: $color-white;
}

.header .subtitle {
    color: $color-gray;
}

.content {
    position: relative;
    top: 250px;
}

label {
    color: $color-dark-gray;
    font-size: 0.85em;
}